@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

:root {
    --scroll-color: linear-gradient(90deg,
            #c49a6c 0%,
            #f1d6a4 18%,
            #f8e6be 50%,
            #f1d6a4 82%,
            #c49a6c 100%);
    --dark-brown: #271408;
    --header-color: linear-gradient(to bottom, #200C05, #3D180C);
    --font-color: #E5C46B;
    --background-color: #c49a6c;


    --font-primary: 'Klee One', cursive;
    --font-icons: 'Yuji Boku', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: var(--scroll-color);
    height: 100dvh; */
    font-family: var(--font-primary);
}

body {
    background-color: var(--background-color);
}